.ipynb_checkpoints/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore 'ss' directories anywhere
**/ss/
**/cache/

# Ignore everything inside 0_data/
0_data/**

# But don’t ignore any README.md (at any level inside data/)
!0_data/**/README.md